/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@keyframes slideaway {
	from { display: block; }
	to { transform: translateY(40px); opacity: 0;}
}

@keyframes sunshine {
	from { opacity: 0; transform: scale(0.5); }
	to { opacity: 1; transform: scale(1); }
}

.wp-block-mosayco-dark-mode {
	font-size: 1em;
	display: inline-flex;

	&__toggle-icon {
		width: 38px;
		height: 38px;
		display: flex;
		overflow: hidden;
		padding: 0.2rem;
		box-sizing: border-box;
		justify-content: center;
		align-items: center;
	}

	button[data-wp-on--click="actions.toggle"] {
		background-color: transparent;
		color: var(--wp--preset--color--contrast);
		fill: var(--wp--preset--color--contrast);
		padding: 0;
		border: 1px solid transparent;
		border-radius: var(--wp--preset--border-radius, 0.5rem);
		cursor: pointer;
		transition: background-color 400ms, border 200ms, color 400ms ease-out;

		&:where(:hover,:focus,:focus-visible) {
			box-shadow: 1px 1px currentColor;
			outline-offset: .2rem;
			outline-color: currentColor;
			border: 1px solid currentColor;
		}

		&:where(:active) {
			border: 1px solid currentColor;
			box-shadow: 2px 2px currentColor;
		}

		> svg {
			display: block;
			overflow: visible;
			box-sizing: border-box;

			& html:not([data-scheme]) {
				display: none;
			}

		}

		[data-name="sun__icon"] {
			width: 85%;
			height: 85%;

			g[data-name="rays"] {
				animation: sunshine 400ms;
				animation-delay: 300ms;
				animation-fill-mode: both;
				transform-origin: center;
			}

			&[hidden] g[data-name="rays"] {
				transform: scale(0);
				opacity: 0;
			}
		}

		svg:not([hidden]) {
			animation: slideaway 200ms;
			animation-direction: reverse;
			display: block;
		}

		svg[hidden] {
			animation: slideaway 200ms;
			display: none;
		}

	}
}

html:not([data-scheme]) .wp-site-blocks:not(.is-root-container), html:not([data-scheme]) g[data-name="rays"] {
	opacity: 0;
}

html[data-scheme] .wp-site-blocks:not(.is-root-container) {
	opacity: 1;
	transition: 300ms linear;
}

html[data-scheme="dark"] {
	.wp-block-mosayco-dark-mode__invert, .wp-block-site-logo {
		filter: invert(100%);
	}
}
